<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jspRegister</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>com.registration.web.SearchUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getUserServlet</servlet-name>
		<servlet-class>com.registration.web.GetUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUserServlet</servlet-name>
		<url-pattern>/getUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createUserServlet</servlet-name>
		<servlet-class>com.registration.web.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createUserServlet</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateUserServlet</servlet-name>
		<servlet-class>com.registration.web.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserServlet</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteUserServlet</servlet-name>
		<servlet-class>com.registration.web.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping> 
		<servlet-name>deleteUserServlet</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
</web-app>